#pantalla{
    width: 100%;
    height: 100%;
    background-color: gray;
}

#tabla{
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
}

#head{
    width: 130%;
}

#filaMain{
    width: 76%;
}

h1{
    margin-left: 35%;
}

ion-grid{
    width: 80%;
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

ion-button{
    margin-left: 20px;
}