
<ion-content [fullscreen]="true">
  <div id="pantalla">
    <div class="titulo">
      <h1>
        Mis Reconocimientos
      </h1>
    </div>

    <div class="filtro">
        <select [(ngModel)]="anio" (change)="dateChanged()">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
        <ion-select class="jornada" aria-label="Fruit" placeholder="Jornadas" (ionChange)="jornadaChange($event)">
          <ion-select-option *ngFor="let jornada of jornadas" [value]="jornada.idJornada" >{{jornada.ciclo}}</ion-select-option>
        </ion-select>
    </div>
    
    <div class="titulo">
      <h2>
        Conferencias
      </h2>
    </div>
    <div class="grid">
      <ion-grid>
        <ion-row>
          <ion-col class="head" size="3"><b>Capacitación</b></ion-col>
          <ion-col class="head" size="6"><b>Descripción</b></ion-col>
          <ion-col class="head"><b>Generar Diploma</b></ion-col>
        </ion-row>
        <div id="tabla">
          <ion-row *ngFor="let data of datas">
            <ion-col class="body" size="3">{{data.nomCapacitacion}}</ion-col>
            <ion-col class="body" size="6">{{data.descripcion}}</ion-col>
            <ion-col class="body">
              <ion-button *ngIf="data.dat == 0" (click)="generarPDF(data)">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="bevel">
                  <path d="M13 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V9l-7-7z"/>
                  <path d="M13 3v6h6"/>
                </svg>
              </ion-button>
              <ion-button *ngIf="data.dat == 1" (click)="generarPDF(data)">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="bevel">
                  <path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/>
                </svg>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
    <div class="titulo">
      <h2>
        Diplomados
      </h2>
    </div>
    <div class="grid">
      <ion-grid>
        <ion-row>
          <ion-col class="head" size="3"><b>Diplomado</b></ion-col>
          <ion-col class="head" size="6"><b>Descripción</b></ion-col>
          <ion-col class="head"><b>Generar Diploma</b></ion-col>
        </ion-row>
        <div id="tabla">
          <ion-row *ngFor="let data of datas1">
            <ion-col class="body" size="3">{{data.nomCapacitacion}}</ion-col>
            <ion-col class="body" size="6">{{data.descripcion}}</ion-col>
            <ion-col class="body">
              <ion-button *ngIf="data.estado == 1 && data.dat == 0" (click)="generarDiplomado(data)">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="bevel">
                  <path d="M13 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V9l-7-7z"/>
                  <path d="M13 3v6h6"/>
                </svg>
              </ion-button>
              <ion-button *ngIf="data.estado == 1 && data.dat == 1" (click)="generarDiplomado(data)">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="bevel">
                  <path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"/>
                </svg>
              </ion-button>
              <label *ngIf="data.estado == 0">Reprobado</label>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
    <div class="foot">
      <label class="usuarios">Administración 2021-2025 © Decano Henry Arriaga</label>
    </div>
  </div>
  
</ion-content>
