.main{
    height: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

#partes{
    margin-top: 2rem;
    height: 37rem;
    width: 35rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #221d45;
    justify-content: center;
    background-color: #fff;
}

@media (max-width: 538px) {
    #partes{
        margin-top: 2rem;
        height: 65rem;
        width: 35rem;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 2px solid #221d45;
        background-color: #fff;
    }
}

.partes2{
    margin-top: 2rem;
    height: 34rem;
    width: 35rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.TituloMain{
    position: relative;
    font-size: 40px;
    display: block;
    text-align: center;
    color: #ff0000;
    font-family: Georgia, serif;
}

.boton{
    width: 50%;
    --background: #221d45;
}

.boton2{
    background-color: green;
}

#col1{
    width: 16rem;
    height: 27rem;
}

#col2{
    width: 16rem;
    height: 27rem;
}

.titulo{
    margin-top: 35px;
    font-size: 40px;
    --background: #221d45;
}

.tool{
    --background: white;
    color: #221d45;
    border: 2px solid #221d45;
    height: 5.5rem;
}

.imagen{
    width: 67%;
    height: 87%;
    max-width: 67%;
    max-height: 97%;
    background-color: #fff;
    border-radius: 60%;
}

ion-img{
    margin-left: -5%;
    margin-top: -7%;
    width: 111%;
    height: 111%;
    mix-blend-mode: multiply;
}

ion-input{
    width: 100%;
    color: black;
}

.pas{
    color: green;
}

ion-select{
    color: black;
}

ion-toolbar{
    --background: white;
    color: #221d45;
}

ion-content{
    --background: white;
}