#partes{
    background-color: gray;
    height: 600px;
}

.TituloMain{
    position: relative;
    margin-top: 10%;
    margin-left: 850px;
    font-size: 40px;
    font-family: Georgia, serif;
}

.boton{
    width: 50%;
    margin-left: 25%;
}

.boton2{
    background-color: green;
}

#datos{
    margin-left: 9%;
    width: 570px;
    height: 500px;
    background-color: white;
}

#col1{
    margin-left: 25px;
    width: 40%;
}

#col2{
    margin-left: 300px;
    margin-top: -360px;
    width: 40%;;
}

ion-img{
    margin-left: 62%;
    margin-top: -35%;
    max-width: 27%;
    max-height: 47%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

ion-input{
    width: 100%;
}