.main{
    height: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #221d45;
}

#partes{
    margin-top: 2rem;
    height: 37rem;
    width: 35rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

.partes2{
    margin-top: 2rem;
    height: 34rem;
    width: 35rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #221d45;
}

.TituloMain{
    position: relative;
    font-size: 40px;
    color: #ff0000;
    font-family: Georgia, serif;
}

.boton{
    width: 50%;
    --background: #FF0000;
}

.boton2{
    background-color: green;
}

#col1{
    width: 16rem;
    height: 27rem;
}

#col2{
    width: 16rem;
    height: 27rem;
}

.titulo{
    margin-top: 35px;
    font-size: 40px;
    --background: #221d45;
}

.tool{
    --background: #ff0000;
    color: #fff;
    height: 5.5rem;
}

.imagen{
    width: 67%;
    height: 87%;
    max-width: 67%;
    max-height: 97%;
    background-color: #fff;
    border-radius: 60%;
}

ion-img{
    margin-left: -5%;
    margin-top: -7%;
    width: 111%;
    height: 111%;
    mix-blend-mode: multiply;
}

ion-input{
    width: 100%;
}

ion-toolbar{
    --background: #ff0000;
    color: #fff;
}

ion-content{
    --background: #221d45;
}