
<ion-content [fullscreen]="true">
  <div id="pantalla">
    <br><br>
    <div id="contenido">
      <ion-input class="Conferencia" label="Asunto del problema" [(ngModel)]="Asunto" labelPlacement="floating" fill="outline" type="text"></ion-input>
      <br>
      <ion-textarea class="descripcion" label="Descripcion" [(ngModel)]="Descripcion" placeholder="Descripcion del problema"></ion-textarea>      
      <br>
      <ion-button (click)="EnviarAyuda()">Enviar</ion-button>
    </div>

  </div>
</ion-content>
