#pantalla{
    width: 100%;
    height: 100%;
}

#contenido{
    width: 70%;
    height: 40%;
    margin-left: 15%;
    background-color: white;
}

ion-input{
    color: black;
}

ion-textarea{
    color: black;
}