<ion-content [fullscreen]="true">
  <div id="pantalla">
    <div id="Jornadas" *ngIf="menu=='Conferencias'">
      <br>
      <ion-select aria-label="Fruit" placeholder="Año">
        <ion-select-option value="2019">2019</ion-select-option>
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
        <ion-select-option value="2022">2022</ion-select-option>
      </ion-select>
      <ion-select aria-label="Fruit" placeholder="Jornada">
        <ion-select-option value="2019">Primera Jornada</ion-select-option>
        <ion-select-option value="2020">Segunda Jornada</ion-select-option>
        <ion-select-option value="2021">Tercera Jornada</ion-select-option>
        <ion-select-option value="2022">Cuarta Jornada</ion-select-option>
      </ion-select>
      <ion-button id="users">Aplicar filtro</ion-button>
      <br>
      <ion-grid>
        <div id="head">
          <ion-row>
            <ion-col size="1.15"><b>Nombre</b></ion-col>
            <ion-col size="1.14"><b>Descripcion</b></ion-col>
            <ion-col size="1.14"><b>Presentador</b></ion-col>
            <ion-col size="1.15"><b>Fecha</b></ion-col>
            <ion-col size="1.14"><b>Hora</b></ion-col>
            <ion-col size="1.79"><b>Link de Zoom</b></ion-col>
            <ion-col size="1.56"><b>Link de FB</b></ion-col>
          </ion-row>
        </div>
        <div id="tabla">
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX pm/am</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
            <ion-col><ion-button>Copiar Link de FB</ion-button></ion-col>
          </ion-row>
          
        </div>
      </ion-grid>
    </div>
    <div id="Jornadas" *ngIf="menu=='Diplomados'">
      <br>
      <ion-select aria-label="Fruit" placeholder="Año">
        <ion-select-option value="2019">2019</ion-select-option>
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
        <ion-select-option value="2022">2022</ion-select-option>
      </ion-select>
      <ion-select aria-label="Fruit" placeholder="Jornada">
        <ion-select-option value="2019">Primera Jornada</ion-select-option>
        <ion-select-option value="2020">Segunda Jornada</ion-select-option>
        <ion-select-option value="2021">Tercera Jornada</ion-select-option>
        <ion-select-option value="2022">Cuarta Jornada</ion-select-option>
      </ion-select>
      <ion-button id="users">Aplicar filtro</ion-button>
      <br>
      <ion-grid>
        <div id="head">
          <ion-row>
            <ion-col size="1.212"><b>Nombre</b></ion-col>
            <ion-col size="1.22"><b>Descripcion</b></ion-col>
            <ion-col size="1.212"><b>Presentador</b></ion-col>
            <ion-col size="1.225"><b>Fecha de inicio</b></ion-col>
            <ion-col size="1.22"><b>Fecha de Finalizacion</b></ion-col>
            <ion-col size="1.21"><b>horario</b></ion-col>
            <ion-col size="1.8"><b>Link de Zoom</b></ion-col>
          </ion-row>
        </div>
        <div id="tabla">
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Reunion 1</ion-col>
            <ion-col>Esta es una descripcion de lo que sera la reunion</ion-col>
            <ion-col>Juan Perez</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX/XX/20XX</ion-col>
            <ion-col>XX:XX - XX:XX</ion-col>
            <ion-col><ion-button>Copiar Link de Zoom</ion-button></ion-col>
          </ion-row>
          
        </div>
      </ion-grid>
    
    </div>
    <div id="Jornadas" *ngIf="menu=='Usuarios'">
      <br>
      <ion-select aria-label="Fruit" placeholder="Tipo de usuario">
        <ion-select-option value="2019">Catedratico</ion-select-option>
        <ion-select-option value="2020">Titulares</ion-select-option>
        <ion-select-option value="2021">Postgrado</ion-select-option>
        <ion-select-option value="2022">Estudiantes</ion-select-option>
        <ion-select-option value="2022">Otros</ion-select-option>
      </ion-select>
      <ion-button id="users">Aplicar filtro</ion-button>
      <br>
      <ion-grid>
        <div id="head">
          <ion-row id="filaMain">
            <ion-col size="1.68"><b>CUI</b></ion-col>
            <ion-col size="1.68"><b>Carne</b></ion-col>
            <ion-col size="1.68"><b>Nombre</b></ion-col>
            <ion-col size="1.94"><b>E-mail</b></ion-col>
            <ion-col size="1.68"><b>Direccion</b></ion-col>
            <ion-col size="1.68"><b>Departamento</b></ion-col>
            <ion-col size="1.66"><b>Municipio</b></ion-col>
          </ion-row>
        </div>
        <div id="tabla">
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx25105xxxx</ion-col>
            <ion-col>20XX06541</ion-col>
            <ion-col>Daniel Sanchez</ion-col>
            <ion-col>DanSanchez@email.com</ion-col>
            <ion-col>4a calle, 65-20</ion-col>
            <ion-col>Guatemala</ion-col>
            <ion-col>Mixco</ion-col>
          </ion-row>
          
        </div>
      </ion-grid>
    </div>
  </div>
  
</ion-content>