
.box{
  margin-top: 2px;
  width: 22rem;
  height: 14rem;
}

.grid{
  width: 40rem;
  height: 14rem;
}

.tab{
  width: 39.5rem;
  height: 14rem;
  overflow-y: auto;
}

.grid2{
  width: 60rem;
  height: 14rem;
}

.tab2{
  width: 60.5rem;
  height: 14rem;
  overflow-y: auto;
}

.tab3{
  width: 59.5rem;
  height: 14rem;
  overflow-y: auto;
}

.Jornada{
  width: 20rem;
  height: 2rem;
}

.boton1{
  margin-top: 5px;
  width: 20rem;
  height: 55px;
  background-color: white;
}

.pantalla{
  width: 100%;
  height: 100%;
  background-color: white;
}

.Jornadas{
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

#Conferencias{
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

#Diplomados{
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

#dateStart{
  width: 35%;
  height: 50px;
  background-color: #ffffff;
}

#dateFinish{
  width: 35%;
  height: 50px;
  margin-left: 40%;
  margin-top: -70px;
  background-color: #ffffff;
}

#fecha{
  margin-left: 0px;
}

#Inicio{
  margin-left: -50%;
}

#Final{
  margin-left: 50%;
  margin-top: -50%;
}

.descripcion{
  margin-top: 2%;
  align-items: left;
  background: rgba(255, 255, 255, 0.986) !important;  
}

.Conferencia{
  margin-top: 2%;
  align-items: left;
  background: rgba(255, 255, 255, 0.986) !important;  
}

#Conf1{
  margin-top: 2px;
  width: 18rem;
}

#Conf2{
  margin-top: 2px;
  width: 18rem;
}

#Conf3{
  margin-top: 2px;
  width: 18rem;
  height: 14rem;
  background: #fff;
}

#Diplo{
  margin-top: 2px;
  width: 40rem;
  height: 28rem;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

.filtro{
  margin-top: 50px;
  width: 70%;
  height: 20%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filtro1{
  margin-top: 2px;
  width: 10rem;
}

.filtro2{
  margin-top: 2px;
  width: 15rem;
  height: 55px;
  background-color: #fff;
}

ion-datetime{
  width: 325px; /* Ancho personalizado */
  font-size: 14px; /* Tamaño de fuente personalizado */
  padding: 5px; /* Espaciado interno personalizado */
  border-color: #221d45;
  border-radius: 3px;
}

ion-datetime-button{
  margin-top: 3px;
}

.filt{
  --background-rgb: 34, 29, 69;
  --wheel-highlight-background: rgb(229, 255, 0);
  --wheel-fade-background-rgb: 246, 255, 0;
  overflow: hidden;
  margin-top: -50px;
  height: 150px;
  width: 95px;
}

.filt::part(wheel:item){
  color: white
}

.hora{
  --background-rgb: 246, 255, 0;
  --wheel-highlight-background: rgb(255, 255, 255);
  --wheel-fade-background-rgb: 246, 255, 0;
  overflow: hidden;
  width: 100px;
  height: 200px;
}

.fecha{
  height: 350px;
}

.boton{
  width: 220px;
  height: 25px;
}

ion-modal{
  max-width: 80%;
  width: auto;
}

ion-list{
  height: 200px;
  overflow-y: auto;
}

ion-item{
  border: solid 1px red;
}

.GridHead{
  background-color: white;
  border: solid 1px red;
  color: red;
  text-align: center;
  font-weight: bold;
}

.head{
  background-color: #FFF;
  border: solid 1px #FF0000;
  color: #FF0000;
  text-align: center;
  font-weight: bold;
}

ion-col {
  background-color: #fff;
  border: solid 1px #221d45;
  color: #221d45;
  text-align: center;
}

.my-custom-modal-css .modal-wrapper {
  height: 20%;
  top: 80%;
  background-color: black;
  position: absolute;
  display: block;
}

#Usuarios{
  width: 100%;
  height: 100%;
  background-color: #221d45;
}

ion-button{
  --background: red;
  color: #221d45;
}