<ion-content [fullscreen]="true">
  <div class="pantalla">
    <div class="Jornadas" *ngIf="menu=='Jornadas'">
        <div class="boton1">
          <ion-input class="Jornada" [(ngModel)]="jornada.ciclo" label="Jornada" labelPlacement="floating" fill="outline" type="text"></ion-input>
          <ion-button type="submit" (click)="registrarJornada()">Iniciar Jornada</ion-button>
        </div>
        <br>
        <div class="box">
          <label>Fecha de inicio</label>
          <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="jornada.FechaInicio"></ion-datetime>
        </div>
        <div class="box">
          <label>Fecha de Finalizacion</label>
          <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="jornada.FechaFinal"></ion-datetime>
        </div>
        <div class="grid">
          <ion-grid>
            <ion-row>
              <ion-col><h3>Jornada</h3></ion-col>
              <ion-col><h3>Fecha de inicio</h3></ion-col>
              <ion-col><h3>Fecha final</h3></ion-col>
              <ion-col><h3>Datos de jornada</h3></ion-col>
            </ion-row>
            <ion-row *ngFor="let jornada of jornadas">
              <ion-col>{{jornada.ciclo}}</ion-col>
              <ion-col>{{convertir(jornada.fechaInicio)}}</ion-col>
              <ion-col>{{convertir(jornada.fechaFinal)}}</ion-col>
              <ion-col><ion-button (click)="mostrarJornada(jornada.idJornada, jornada.ciclo, convertir(jornada.fechaInicio), convertir(jornada.fechaFinal), jornada.estado)"><ion-icon name="create"></ion-icon></ion-button></ion-col>
            </ion-row>
          </ion-grid>
        </div>
    
    </div>
    <div id="Conferencias" *ngIf="menu=='Conferencias'">
      <div id="Conf1">
        <ion-input class="Conferencia" label="Titulo de Conferencia" [(ngModel)]="capacitacion.nomCapacitacion" labelPlacement="floating" fill="outline" type="text"></ion-input>
        
        <ion-textarea class="descripcion" [(ngModel)]="capacitacion.descripcion" placeholder="Descripcion de conferencia"></ion-textarea>
      
        <ion-input class="Conferencia" label="Nombre del Presentador" [(ngModel)]="capacitacion.presentador" labelPlacement="floating" fill="outline" type="text"></ion-input>
      </div>
      <div id="Conf2">
      <label for="file">Select File
        <img [src]="imageUrl" alter="Image Review" style="width: 275px; height: 275px;">
      </label><br>
      <input class="Conferencia" type="file" id="file" accept="image/jpeg,image/png" hidden #fileInput
        [(ngModel)]="capacitacion.poster" (change)="onSelectNewFile()">
      <ion-input class="Conferencia" label="Link de Zoom" [(ngModel)]="capacitacion.zoomLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
      <ion-input class="Conferencia" label="Link de FaceBook" [(ngModel)]="capacitacion.fbLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
      
      <ion-button (click)="CrearCapacitacion()">Crear Capacitacion</ion-button>

      </div>
      <div id="Conf3">
        <ion-datetime [min]="2023" [(ngModel)]="fechaYhora"></ion-datetime>
      </div>
      <div class="filtro">
        <div class="filtro1">
          <ion-datetime class="filt" presentation="year" [preferWheel]="true" (ionChange)="dateChanged($event)"></ion-datetime>
        </div>
        <div class="filtro2">
          <ion-select aria-label="Fruit" placeholder="Jornadas" (ionChange)="jornadaChange($event)">
            <ion-select-option *ngFor="let jornada of jornadas" [value]="jornada.idJornada" >{{jornada.ciclo}}</ion-select-option>
          </ion-select>
        </div>
        <div class="filtro1">
          <ion-button >Aplicar Filtro</ion-button>
        </div>
      </div>

      <div class="grid2">
        <ion-grid>
          <ion-row>
            <ion-col><h3>Capacitacion</h3></ion-col>
            <ion-col size="5"><h3>Descripcion</h3></ion-col>
            <ion-col><h3>Presentador</h3></ion-col>
            <ion-col><h3>Datos de capacitacion</h3></ion-col>
          </ion-row>
          <ion-row *ngFor="let capacitacion of capacitaciones">
            <ion-col>{{capacitacion.nomCapacitacion}}</ion-col>
            <ion-col size="5">{{capacitacion.descripcion}}</ion-col>
            <ion-col>{{capacitacion.presentador}}</ion-col>
            <ion-col><ion-button (click)="mostrarCapacitacion(capacitacion)"><ion-icon name="create"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
    <div id="Diplomados" *ngIf="menu=='Diplomados'">
      <div id="Conf1">
        <ion-input class="Conferencia" label="Titulo de Diplomado" [(ngModel)]="capacitacion.nomCapacitacion" labelPlacement="floating" fill="outline" type="text"></ion-input>
        
        <ion-textarea class="descripcion" [(ngModel)]="capacitacion.descripcion" placeholder="Descripcion de conferencia"></ion-textarea>
        
        <ion-input class="Conferencia" label="Link de Zoom" [(ngModel)]="capacitacion.zoomLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
        
        <ion-input class="Conferencia" label="Link de FaceBook" [(ngModel)]="capacitacion.fbLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
      </div>
      <div id="Conf2">
      <label for="file">Select File
        <img [src]="imageUrl" alter="Image Review" style="width: 275px; height: 275px;">
      </label><br>
      <input class="Conferencia" type="file" id="file" accept="image/jpeg,image/png" hidden #fileInput
        [(ngModel)]="capacitacion.poster" (change)="onSelectNewFile()">

      </div>
      <div id="Diplo">
        <ion-datetime class="fecha" presentation="date" [min]="2023" [(ngModel)]="horaYFecha.fecha"></ion-datetime>
        <ion-datetime class="hora" presentation="time" [(ngModel)]="horaYFecha.hora"></ion-datetime>
        <ion-list>
          <ion-item *ngFor="let datos of Fechas; let i = index">{{datos.fecha}}<br>{{datos.hora}} <ion-button (click)="eliminar(datos.fecha, datos.hora)"><ion-icon name="trash"></ion-icon></ion-button></ion-item>
        </ion-list>
        <ion-button class="boton" (click)="AgregarFecha(horaYFecha.fecha, horaYFecha.hora)">Agregar fecha y hora</ion-button>
        <ion-button (click)="CrearDiplomado()">Crear Diplomado</ion-button>
      </div>
      <div class="filtro">
        <div class="filtro1">
          <ion-datetime class="filt" presentation="year" [preferWheel]="true" (ionChange)="dateChanged($event)"></ion-datetime>
        </div>
        <div class="filtro2">
          <ion-select aria-label="Fruit" placeholder="Jornadas" (ionChange)="jornadaChange($event)">
            <ion-select-option *ngFor="let jornada of jornadas" [value]="jornada.idJornada" >{{jornada.ciclo}}</ion-select-option>
          </ion-select>
        </div>
        <div class="filtro1">
          <ion-button >Aplicar Filtro</ion-button>
        </div>
      </div>

      <div class="grid2">
        <ion-grid>
          <ion-row>
            <ion-col><h3>Capacitacion</h3></ion-col>
            <ion-col size="5"><h3>Descripcion</h3></ion-col>
            <ion-col><h3>Presentador</h3></ion-col>
            <ion-col><h3>Datos de capacitacion</h3></ion-col>
          </ion-row>
          <ion-row *ngFor="let capacitacion of capacitaciones">
            <ion-col>{{capacitacion.nomCapacitacion}}</ion-col>
            <ion-col size="5">{{capacitacion.descripcion}}</ion-col>
            <ion-col>{{capacitacion.presentador}}</ion-col>
            <ion-col><ion-button (click)="mostrarCapacitacion(capacitacion)"><ion-icon name="create"></ion-icon></ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  
</ion-content>