<ion-content [fullscreen]="true">
  <div id="pantalla">
    <br>
    <div class="parametros">
      <ion-datetime [min]="2023" class="filt" presentation="year" [preferWheel]="true" (ionChange)="dateChanged($event)"></ion-datetime>
    
      <ion-select aria-label="Fruit" placeholder="Jornadas" (ionChange)="jornadaChange($event)">
        <ion-select-option *ngFor="let jornada of jornadas" [value]="jornada.idJornada" >{{jornada.ciclo}}</ion-select-option>
      </ion-select>

      <ion-select aria-label="Fruit" placeholder="Categoria" (ionChange)="tipoChange($event)">
        <ion-select-option value="1">Capacitaciones</ion-select-option>
        <ion-select-option value="2">Diplomados</ion-select-option>
      </ion-select>
      
    </div>
    <br><br><br>
    <div class="tabla">
      <ion-grid>
        <ion-row>
          <ion-col class="head"><b>Capacitacion</b></ion-col>
          <ion-col class="head" size="5"><b>Descripcion</b></ion-col>
          <ion-col class="head"><b>Lista de inscripciones</b></ion-col>
        </ion-row>
        <div class="tab">
          <ion-row *ngFor="let capacitacion of capacitaciones">
            <ion-col class="body">{{capacitacion.nomCapacitacion}}</ion-col>
            <ion-col class="body" size="5">{{capacitacion.descripcion}}</ion-col>
            <ion-col class="body"><ion-button (click)="mostrarInscripciones(capacitacion)"><ion-icon name="create" style="color: #221d45"></ion-icon></ion-button></ion-col>
          </ion-row>
        </div>
        
      </ion-grid>
    </div>
    
  </div>
</ion-content>
