<ion-content [fullscreen]="true">
  <div id="pantalla">

    <br>
    <ion-select aria-label="Fruit" placeholder="Año">
      <ion-select-option value="2019">2019</ion-select-option>
      <ion-select-option value="2020">2020</ion-select-option>
      <ion-select-option value="2021">2021</ion-select-option>
      <ion-select-option value="2022">2022</ion-select-option>
    </ion-select>
    <ion-select aria-label="Fruit" placeholder="Jornada">
      <ion-select-option value="2019">Primera Jornada</ion-select-option>
      <ion-select-option value="2020">Segunda Jornada</ion-select-option>
      <ion-select-option value="2021">Tercera Jornada</ion-select-option>
      <ion-select-option value="2022">Cuarta Jornada</ion-select-option>
    </ion-select>
    <ion-select aria-label="Fruit" placeholder="Reuinones" id="reuniones">
      <ion-select-option>Reunion 1</ion-select-option>
      <ion-select-option>Reunion 2</ion-select-option>
      <ion-select-option>Reunion 3</ion-select-option>
      <ion-select-option>Reunion 4</ion-select-option>
    </ion-select>
    <ion-button>Aplicar filtro</ion-button>
    <br><br><br>
    
      <ion-grid>
        <div id="head">
          <ion-row>
            <ion-col size="2"><b>CUI</b></ion-col>
            <ion-col size="2"><b>Carne</b></ion-col>
            <ion-col size="2"><b>Nombre</b></ion-col>
            <ion-col size="2"><b>E-mail</b></ion-col>
          </ion-row>
        </div>
        <div id="tabla">
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>xxxx5515xxxx</ion-col>
            <ion-col>20xx05015</ion-col>
            <ion-col>Daniel perez</ion-col>
            <ion-col>DanPer@email.com</ion-col>
          </ion-row>
        </div>
        
      </ion-grid>
    
    
  </div>
</ion-content>
