<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sistema de capacitaciones</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" id="content">
  <div id="partes">

    <div class="parte1">
      <h1 class="TituloMain"><label>Facultad de Ciencias<br>Juridicas y Sociales</label></h1>
      <div class="imagen">
        <ion-img src="https://bucket-jornadas.s3.amazonaws.com/Posts/Logo.JPG"></ion-img>
      </div>
      <h4 class="parte2"><label>Administracion 2021 - 2025<br>Decano Henry Arriaga</label></h4>
    </div>
    
    <div class="datos">
      <ion-header>
        <ion-toolbar class="tool">
          <ion-title><p align="center" class="titulo">Iniciar Sesion</p></ion-title>
        </ion-toolbar>
      </ion-header>
      <br>
      <ion-input class="user" label="CUI o Carnet" label-placement="floating" fill="outline" type="text" [(ngModel)]="dato1"></ion-input>
      <br>
      <ion-item class="pass">
        <ion-input class="pas" label="Contraseña" label-placement="floating" type="{{mostrar1 ? 'text' : 'password'}}" [(ngModel)]="dato2"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePassVisibility()">
          <ion-icon [name]="mostrar1 ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <h5 *ngIf="contra == false"> <a (click)="cambiarEstado()">Olvide mi Contraseña</a> </h5>
      <br>
      <ion-button class="boton" (click)="Ingresar()">Ingresar</ion-button>
      <br>
      <h5>No tienes Usuario? Registrate</h5>
      <ion-button [routerLink]="['/registro']" class="boton2">Registrarse</ion-button>
      <br>
      
      <div class="contra" *ngIf="contra == true">
        <ion-input class="recuperar" label="CUI o Carnet" label-placement="floating" fill="outline" type="text" [(ngModel)]="datoContra"></ion-input>
        <ion-button class="boton" (click)="Recuperar()">Recuperar contraseña</ion-button>
      </div>
      <br>
    </div>
    
  </div>
</ion-content>
