ion-content{
    --background: #221d45;
}

#partes{
    height: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #221d45;
}

.TituloMain{
    position: relative;
    margin-left: 140px;
    font-size: 40px;
    font-family: Georgia, serif;
}

.parte1{
    width: 40rem;
    height: 37rem;
    background-color: #221d45;
    color: #fff;
}

.parte2{
    position: relative;
    margin-left: 150px;
    font-size: 20px;
    font-family: Georgia, serif;
}

.datos{
    width: 40rem;
    height: 37rem;
    background-color: white;
}

.boton{
    width: 60%;
}

.boton2{
    background-color: green;
}

.datos{
    margin-top: 3%;
    width: 570px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.imagen{
    margin-left: 25%;
    max-width: 57%;
    max-height: 87%;
    background-color: #fff;
    border-radius: 60%;
}

ion-input{
    width: 50%;
    color: black;
}

.pas{
    color: green;
}

ion-item{
    width: 50%;
}

ion-toolbar{
    --background: #ff0000;
    color: #fff;
}

.tool{
    --background: #ff0000;
    color: #fff;
    margin-top: -83px;
    height: 6rem;
}

.titulo{
    margin-top: 35px;
    font-size: 40px;
}

.contra{
    width: 20rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

