#pantalla{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.admins{
    width: 18rem;
    height: 23.5rem;
    margin-top: 4rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    //background-color: yellow;
    justify-content: center;
}

.table{
    width: 58rem;
    height: 25rem;
    //background-color: red;
    margin-top: 4rem;
}

.Nombre, .Apellido, .Telefo, .Correo, .Contra{
    width: 250px;
    align-items: center;
    background: rgba(255, 255, 255, 0.986) !important;  
}

.boton{
    width: fit-content;
    height: 100px;
    --background: red
}

.head{
    background-color: white;
    border: solid 1px red;
    color: red;
    text-align: center;
    font-weight: bold;
  }
  
.data-row {
    background: white;
    border-bottom: 1px solid black;
}

.tab{
    width: calc(100% + 16px);
    height: 100%;
    overflow-y: scroll;
  }

  ion-col {
    background-color: white;
    border: solid 1px #221d45;
    color: #221d45;
    text-align: center;
  }

ion-button{
    --background: red;
    color: white;
}