<ion-content>
  <div id="pantalla">
    <div class="admins">
        
        <ion-input class="Nombre" label="Nombre" labelPlacement="floating" fill="outline" [(ngModel)]="nuevoUser.nombre" type="text"></ion-input>

        <ion-input class="Apellido" label="Apellido" labelPlacement="floating" fill="outline" [(ngModel)]="nuevoUser.apellido" type="text"></ion-input>
  
        <ion-input class="Telefo" label="Numero telefonico" labelPlacement="floating" fill="outline" [(ngModel)]="nuevoUser.telefono" type="text"></ion-input>
    
        <ion-input class="Correo" label="E-mail" labelPlacement="floating" fill="outline" [(ngModel)]="nuevoUser.email" type="email"></ion-input>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input class="pas" type="{{mostrar ? 'text' : 'password'}}" [(ngModel)]="nuevoUser.passw"></ion-input>
          <ion-button slot="end" fill="clear" (click)="togglePassVisibility()">
            <ion-icon [name]="mostrar ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-button (click)="Registrar(nuevoUser)" type="submit">Registrar Administrador</ion-button>

    </div>
    <div class="table">
      <ion-grid>
        <ion-row class="header-row">
          <ion-col class="head">Nombre</ion-col>
          <ion-col class="head">Telefono</ion-col>
          <ion-col class="head">Correo</ion-col>
          <ion-col class="head">Datos</ion-col>
        </ion-row>
        <div class="tab">
          <ion-row class="data-row" *ngFor="let item of datos">
            <ion-col>{{item.nombre + " " + item.apellido}}</ion-col>
            <ion-col>{{item.telefono}}</ion-col>
            <ion-col>{{item.email}}</ion-col>
            <ion-col><ion-button (click)="MostrarDatos(item.idAdmin, item.nombre, item.apellido, item.estado)">Mostrar Informacion</ion-button></ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>
</ion-content>

