<ion-header>
  <ion-toolbar>
    <ion-title>{{nombre +" "+ apellido}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Regresar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="asignarPerm" *ngIf="dato == 1">
    <div class="Asignar">
      <ion-select #miSelect aria-label="Fruit" placeholder="Permisos">
        <ion-select-option *ngFor="let dato of datos" [value]="dato.idPermiso">{{dato.permiso}}</ion-select-option>
      </ion-select>
    </div>
    <div class="Asignar">
      <ion-button (click)="AsignarPermiso(miSelect.value)">Asignar permiso</ion-button>
    </div>
    <div class="tabla">
      <ion-grid>
        <ion-row class="header-row">
          <ion-col>Permiso</ion-col>
          <ion-col>Revocar Permiso</ion-col>
        </ion-row>
        <ion-row class="data-row" *ngFor="let permiso of permisos">
          <ion-col>{{permiso.permiso}}</ion-col>
          <ion-col><ion-button (click)="RevocarPermiso(idAdmin, permiso.idPermiso)">Revocar Permiso</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <br>
    <div *ngIf="estado == 1">
      <ion-button class="Eliminar" (click)="EliminarAdmin(idAdmin, estado)">Bloquear Administrador</ion-button>
    </div>
    <div *ngIf="estado == 0">
      <ion-button class="Eliminar" (click)="EliminarAdmin(idAdmin, estado)">Desbloquear Administrador</ion-button>
    </div>
    
  </div>
  <div class="perfil" *ngIf="dato == 0">
    <div id="col11">
      <ion-input class="input" [(ngModel)]="AdminPerfil.nombre" label="Nombre" label-placement="floating" fill="outline" type="text"></ion-input>
      <br>
      <ion-input class="input" [(ngModel)]="AdminPerfil.apellido" label="Apellido" label-placement="floating" fill="outline" type="text"></ion-input>
      <br>
      <ion-input class="input" [(ngModel)]="AdminPerfil.telefono" label="Telefono" label-placement="floating" fill="outline" type="text"></ion-input>
      <br>
      <ion-input class="input" [(ngModel)]="AdminPerfil.correo" label="E-mail" label-placement="floating" fill="outline" type="text"></ion-input>
      <br>
      <ion-button class="boton" (click)="modificarDatos()">Modificar datos</ion-button>
    </div>
    <div id="col2">
      <ion-item>
        <ion-input class="pas" label="Contraseña Actual" label-placement="floating" type="{{mostrar1 ? 'text' : 'password'}}" [(ngModel)]="AdminPerfil.OldPass"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePassVisibility()">
          <ion-icon [name]="mostrar1 ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-input class="pas"  label="Contraseña Nueva" label-placement="floating" type="{{mostrar1 ? 'text' : 'password'}}" [(ngModel)]="AdminPerfil.NewPass"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePassVisibility1()">
          <ion-icon [name]="mostrar1 ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-input class="pas"  label="Confirmar contraseña" label-placement="floating" type="{{mostrar1 ? 'text' : 'password'}}" [(ngModel)]="AdminPerfil.ConfirmPass"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePassVisibility1()">
          <ion-icon [name]="mostrar1 ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button class="boton" (click)="CambiarContra()">Cambiar Contraseña</ion-button>
    </div>
  </div>
  
</ion-content>
