<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{this.Diplomado.nomCapacitacion}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Regresar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="card" *ngIf="Diplomado.idCategoria == 1">
      <div class="parte1">
        <ion-img src="{{this.Diplomado.poster}}"></ion-img>
      </div>
      <div class="gridd">
        <ion-grid>
          <ion-row class="GridHead">
            <ion-col class="head"><h3>Fecha</h3></ion-col>
            <ion-col class="head"><h3>Hora</h3></ion-col>
            <ion-col class="head"><h3>Presentador</h3></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{convertir(this.Diplomado.fecha)}}</ion-col>
            <ion-col>{{this.Diplomado.hora}}</ion-col>
            <ion-col>{{this.Diplomado.presentador}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="titulo">
        <ion-button (click)="Inscribir(Diplomado.idCapacitacion)">{{this.Boton}}</ion-button>
      </div>
      <div *ngIf="Valor == 0">
        <ion-button (click)="fb(this.Diplomado.fbLink)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"> <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
        </ion-button>
        <ion-button (click)="zoom(this.Diplomado.zoomLink)">
          ZOOM
        </ion-button>
      </div>
      <div class="foot">

      </div>
    </div>
    

    <div class="card2" *ngIf="Diplomado.idCategoria == 2">
      <div class="parte2">
        <ion-img src="{{this.Diplomado.poster}}"></ion-img>
      </div>
    </div>

    <div class="elementos" *ngIf="Diplomado.idCategoria == 2">
      <ion-datetime [min]="2023" presentation="date" [multiple]="true" [value]="fechasDiplomado"></ion-datetime>
      <div class="titulo">
        <h1>Horarios</h1>
      </div>
      <div class="grid">
        <ion-grid>
          <ion-row class="GridHead">
            <ion-col class="head"><h3>Fecha</h3></ion-col>
            <ion-col class="head"><h3>Hora</h3></ion-col>
          </ion-row>
          <div class="tab">
            <ion-row *ngFor="let datos of fechas">
              <ion-col>{{convertir(datos.fecha)}}</ion-col>
              <ion-col>{{datos.hora}}</ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
      <div class="titulo">
        <ion-button (click)="Inscribir(Diplomado.idCapacitacion)">{{this.Boton}}</ion-button>
      </div>
      <div *ngIf="Valor == 0">
        <ion-button (click)="fb(this.Diplomado.fbLink)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"> <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
        </ion-button>
        <ion-button (click)="zoom(this.Diplomado.zoomLink)">
          ZOOM
        </ion-button>
      </div>
      
    </div>
    <div class="foot" *ngIf="Diplomado.idCategoria == 2">

    </div>
  </div>

</ion-content>
