<ion-content [fullscreen]="true">
  <div id="pantalla">
    <div class="titulo">
      <h1>Capacitaciones</h1>
    </div>
    <ng-container *ngFor="let conferencia of conferencias">
      <div class="card" *ngIf="conferencia.idCategoria == 1">
        <ion-header>
          <ion-toolbar>
            <ion-title>{{conferencia.nomCapacitacion}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <div class="parte2">
          <br>
          <div class="text">
            <p>{{conferencia.descripcion}}</p>
          </div>
          <ion-button (click)="MostrarCalendarioDiplomado(conferencia)">
            Mas Informacion
          </ion-button>
          
          <!-- 
          <p style="font-size: 23px;">Presentador: {{conferencia.presentador}}</p>
          <p style="font-size: 20px;">Fecha: {{convertir(conferencia.fecha)}}</p>
          <p style="font-size: 17px;">Hora: {{conferencia.hora}}</p> -->
        </div>
      </div>
      
    </ng-container>
    <div class="titulo">
      <h1>Diplomados</h1>
    </div>

    <ng-container *ngFor="let conferencia of conferencias">
      <div class="card" *ngIf="conferencia.idCategoria == 2">
        <ion-header>
          <ion-toolbar>
            <ion-title>{{conferencia.nomCapacitacion}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <div class="parte2">
          <br>
          <div class="text">
            <p>{{conferencia.descripcion}}</p>
          </div>
          <ion-button (click)="MostrarCalendarioDiplomado(conferencia)">
            Mas Informacion
          </ion-button>
          
          <!-- 
          <p style="font-size: 23px;">Presentador: {{conferencia.presentador}}</p>
          <p style="font-size: 20px;">Fecha: {{convertir(conferencia.fecha)}}</p>
          <p style="font-size: 17px;">Hora: {{conferencia.hora}}</p> -->
        </div>
      </div>
      
    </ng-container>

    <div class="foot">
    
    </div>
  </div>
</ion-content>
