<ion-header>
  <ion-toolbar>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="top">
      
      <ion-tab-button tab="perfil">
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="conferencias">
        <ion-label>Conferencias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="inscripciones">
        <ion-label>Inscripciones</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="diplomas">
        <ion-label>Diplomas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ayuda">
        <ion-label>Ayuda</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
    
  
  </ion-tabs>

</ion-content>
  
