
.tabs-container {
    position: sticky;
    top: 0;
}

ion-tab-button{
    --background: white; /* Cambia el color de fondo del tab seleccionado a tu preferencia */
    color: #221d45;
}

ion-tab-button::part(tab-selected){
    --background: white; /* Cambia el color de fondo del tab seleccionado a tu preferencia */
    color: #221d45;
}

ion-tab-button::part(tab) {
    background-color: #f2f2f2; /* Cambia el color de fondo de los tabs inactivos a tu preferencia */
    color: #333; /* Cambia el color del texto de los tabs inactivos a tu preferencia */
}

ion-tab-bar.md ion-tab-button.selected{
    --background: #221d45; //Color del objeto seleccionado de lista
    color: #fff;
}

ion-toolbar{
    --background: #221d45;
    color: #fff;
}
