<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button style="--background: #221d45;" [routerLink]="['/']">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
      <ion-button (click)="mostrarUsuario()" style="--background: #221d45;">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Administracion {{this.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs (ionTabsDidChange)="onTabChange()">

    <ion-tab-bar slot="top">
      
      <ion-tab-button tab="ALista" *ngIf="this.boolArray[0]">
        <ion-label>Administradores</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab1" *ngIf="this.boolArray[1]">
        <ion-label>Crear</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3" *ngIf="this.boolArray[3]">
        <ion-label>Inscripciones</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="conferencias" *ngIf="this.boolArray[4]">
        <ion-label>Asistencias</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="ayudas" *ngIf="this.boolArray[6]">
        <ion-label>Solicitudes de Ayuda</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
    
  
  </ion-tabs>

</ion-content>
  

