<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{oldTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Regresar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="Conferencias">
    <div id="Conf1">
      <ion-input class="Conferencia" label="Titulo de Conferencia" [(ngModel)]="nomCapacitacion" labelPlacement="floating" fill="outline" type="text"></ion-input>
      
      <ion-textarea class="descripcion" [(ngModel)]="descripcion" placeholder="Descripcion de conferencia"></ion-textarea>
    
      <ion-input *ngIf="idCategoria == 1" class="Presentador" label="Nombre del Presentador" [(ngModel)]="presentador" labelPlacement="floating" fill="outline" type="text"></ion-input>
    </div>
    <div id="Conf2">
      <label for="file1">Seleccionar poster
        <img [src]="imageUrl" alter="Image Review" style="width: 288px; height: 285px;">
      </label><br>
      <input class="Conferencia" type="file" id="file1" accept="image/jpeg,image/png" hidden #fileInput
        [(ngModel)]="poster" (change)="onSelectNewFile()">
      <ion-input class="Conferencia" label="Link de Zoom" [(ngModel)]="zoomLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
      <ion-input class="Conferencia" label="Link de FaceBook" [(ngModel)]="fbLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
    
    </div>
    <div id="Conf3">
      <div *ngIf="idCategoria == 1">
        <ion-datetime *ngIf="idCategoria == 1" [min]="2023" [(ngModel)]="fechaYhora"></ion-datetime>
      </div>
      <div id="Diplo" *ngIf="idCategoria == 2">
        <ion-datetime class="fecha" presentation="date" [min]="2023" [(ngModel)]="horaYFecha.fecha"></ion-datetime>
        <div class="subDiplo">
          <ion-datetime class="hora" presentation="time" [(ngModel)]="horaYFecha.hora"></ion-datetime>
          <ion-list>
            <ion-item *ngFor="let datos of Fechas; let i = index">{{convertir(datos.fecha)}}<br>{{datos.hora}}<ion-button (click)="eliminar(datos.fecha, datos.hora)"><ion-icon name="trash"></ion-icon></ion-button></ion-item>
          </ion-list>
        </div>
        <ion-button class="boton" (click)="AgregarFecha(horaYFecha.fecha, horaYFecha.hora)">Agregar fecha y hora</ion-button>
        
      </div>
      <div class="Actuales" *ngIf="idCategoria == 2">
        <h3 style="color: white;">Lista Actual</h3>
        <ion-list class="lista3">
          <ion-item *ngFor="let dato of actuales">
            <ion-label>{{dato.tipo}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="DerechoDiploma" *ngIf="idCategoria == 2">
        <h3 style="color: white">Usuarios que tendran derecho a diploma</h3>
        <ion-list class="lista2">
          <ion-item *ngFor="let tipo of tipos">
            <ion-label>{{ tipo.tipo }}</ion-label>
            <ion-checkbox [(ngModel)]="tiposSeleccionados[tipo.idTipo]">{{ tipo.tipo }}</ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-button (click)="guardarSeleccion()">Guardar Selección</ion-button>
      </div>
      <div class="datos">
        <ion-input class="duracion" label="Duracion (en horas)" [(ngModel)]="duracion" labelPlacement="floating" fill="outline" type="text"></ion-input>
        <ion-select aria-label="Fruit" placeholder="Modalidad" [(ngModel)]="modalidad">
          <ion-select-option [value]="1" >Virtual</ion-select-option>
          <ion-select-option [value]="2" >Presencial</ion-select-option>
          <ion-select-option [value]="3" >Mixto</ion-select-option>
        </ion-select>
        <ion-label *ngIf="estado == 1">VIGENTE</ion-label>
        <ion-label *ngIf="estado == 0">CANCELADO</ion-label>

      </div>
      
      <ion-button *ngIf="idCategoria == 1" class="Modif" (click)="modificarCapacitacion()">Modificar</ion-button>
      <ion-button *ngIf="idCategoria == 2" class="Modif" (click)="modificarDiplomado()">Modificar</ion-button>
      
      <ion-button *ngIf="estado == 1" (click)="modificarEstado(idCapacitacion)">Cancelar</ion-button>
      <ion-button *ngIf="estado == 0" (click)="modificarEstado(idCapacitacion)">Retomar</ion-button>
    </div>

  </div>
</ion-content>
