<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{nomCapacitacion}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Regresar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="Conferencias" >
    <div id="Conf1">
      <ion-input class="Conferencia" label="Titulo de Conferencia" [(ngModel)]="nomCapacitacion" labelPlacement="floating" fill="outline" type="text"></ion-input>
      
      <ion-textarea class="descripcion" label="Descripcion" [(ngModel)]="descripcion" placeholder="Descripcion de conferencia"></ion-textarea>
    
      <ion-input class="Conferencia" label="Nombre del Presentador" [(ngModel)]="presentador" labelPlacement="floating" fill="outline" type="text"></ion-input>
    </div>
    <div id="Conf2">
    <ion-input class="Conferencia" label="Wallpaper de conferencia" [(ngModel)]="poster" labelPlacement="floating" fill="outline" type="file"></ion-input>
    <ion-input class="Conferencia" label="Link de Zoom" [(ngModel)]="zoomLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
    <ion-input class="Conferencia" label="Link de FaceBook" [(ngModel)]="fbLink" labelPlacement="floating" fill="outline" type="text"></ion-input>
    
    </div>
    <div id="Conf3">
      <ion-datetime [min]="2023" [(ngModel)]="fechaYhora"></ion-datetime>
      <ion-button (click)="modificarCapacitacion()">Modificar</ion-button>
    </div>

  </div>
</ion-content>
