  .my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    background-color: black;
    position: absolute; 
    display: block;  
  }
  
  #Conferencias{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    background: rgb(34, 29, 69);
  }

  .descripcion{
    margin-top: 2%;
    align-items: left;
    margin-left: 2px;
    width: 17.7rem;
    height: 5rem;
    background: rgba(255, 255, 255, 0.986) !important;  
  }
  
  .Conferencia{
    margin-top: 2%;
    align-items: left;
    background: rgba(255, 255, 255, 0.986) !important;  
  }

  .Presentador{
    margin-top: 2%;
    align-items: left;
    background: rgba(255, 255, 255, 0.986) !important;  
  }

  #Conf1{
    margin-top: 2px;
    width: 18rem;
    background-color: #fff;
    .Presentador:not(:nth-child(3)) {
      display: none;
    }
  }
  
  #Conf2{
    margin-top: 2px;
    width: 18rem;
    height: 28rem;
    background-color: #fff;
  }
  
  #Conf3{
    margin-top: 2px;
    background: rgb(34, 29, 69);
    width: 35rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
  }

  .boton{
    width: 220px;
    height: 25px;
  }

  #Diplo{
    background-color: rgb(34, 29, 69);
    width: 40rem;
    height: 26rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
  }

  .subDiplo{
    background-color: rgb(34, 29, 69);
    width: 11rem;
    height: 22rem;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
  }

  .hora{
    --background-rgb: 246, 255, 0;
    --wheel-highlight-background: rgb(255, 255, 255);
    --wheel-fade-background-rgb: 246, 255, 0;
    overflow: hidden;
    width: 100px;
    margin-top: -20px;
    height: 160px;
  }
  
  .fecha{
    overflow: hidden;
    height: 350px;
  }

  ion-list{
    height: 195px;
    overflow-y: auto;
  }

  ion-toolbar{
    --background: #ff0000;
    color: white
  }

  .Modif{
    width: 13rem;
    --background: #ff0000;
  }

  ion-button{
    --background: #ff0000;
  }
