<div class="recuadro">
  <div class="parte1">
    <ion-img src="../../../../../assets/icon/prueba.jpg"></ion-img>
  </div>
  <div class="parte2">
    <h2>Presentacion</h2>
    <p>Esta es una descripcion de lo que tratara la capacitacion o diplomado, por eso el texto largo</p>
    <p>Presentador: Juan Alonzo</p>
    <p>Fecha: DD/MM/AAAA</p>
    <p>Hora: XX:XX am/pm</p>
  </div>
  <div class="parte3">
    <p>Si desar inscribirse a esta capacitacion, oprima el boton</p>
    <ion-button>Inscribirme</ion-button>
  </div>

</div>
