<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{Capacitacion.nomCapacitacion}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Regresar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="contenido">
    <ion-select class="tipo" aria-label="Fruit" [(ngModel)]="datosExtra.idTipo" placeholder="Tipos de Usuario" >
      <ion-select-option *ngFor="let tipo of tipos" [value]="tipo.idTipo" >{{tipo.tipo}}</ion-select-option>
    </ion-select>
    <ion-select class="genero" aria-label="Fruit" [(ngModel)]="datosExtra.genero" placeholder="Genero">
      <ion-select-option value="1">Hombre</ion-select-option>
      <ion-select-option value="2">Mujer</ion-select-option>
    </ion-select>
    <ion-select class="departamento" aria-label="Fruit" placeholder="Departamento" (ionChange)="DepartamentoChange($event)">
      <ion-select-option *ngFor="let departamento of departamentos" [value]="departamento.idDepartamento" >{{departamento.departamento}}</ion-select-option>
    </ion-select>
    <ion-select class="municipio" aria-label="Fruit" [(ngModel)]="datosExtra.idmunicipio" placeholder="Municipio">
      <ion-select-option *ngFor="let municipio of municipios" [value]="municipio.idMunicipio" >{{municipio.municipio}}</ion-select-option>
    </ion-select>
    <ion-select class="asistencia" aria-label="Fruit" [(ngModel)]="datosExtra.presente" placeholder="Se Presento?">
      <ion-select-option value="1">SI</ion-select-option>
      <ion-select-option value="0">NO</ion-select-option>
    </ion-select>
    <ion-button (click)="Parametros()">Aplicar Filtro</ion-button>
  </div>

  <div class="grid">
    <ion-grid>
      <ion-row class="GridHead">
        <ion-col class="head"><h3>CUI</h3></ion-col>
        <ion-col class="head"><h3>Carne</h3></ion-col>
        <ion-col class="head"><h3>Nombre</h3></ion-col>
      </ion-row>
      <div class="tab">
        <ion-row *ngFor="let inscripcion of inscripciones">
          <ion-col>{{inscripcion.cui}}</ion-col>
          <ion-col>{{inscripcion.carne}}</ion-col>
          <ion-col>{{inscripcion.nombre}} {{inscripcion.apellido}}</ion-col>
        </ion-row>
      </div>
      
    </ion-grid>
  </div>
  
</ion-content>
