<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{this.Datos.nombre}} {{this.Datos.apellido}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="Regresar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">datos-usuario</ion-title>
    </ion-toolbar>
  </ion-header>
    <div id="partes">
      <div id="col1">
        <div id="col11">
          <ion-input class="ion-text-center" [(ngModel)]="nuevoUser.cui" label="CUI" label-placement="floating" fill="outline" type="text"></ion-input>
          <br>
          <ion-input class="ion-text-center" [(ngModel)]="nuevoUser.carne" label="Carnet" label-placement="floating" fill="outline" type="text"></ion-input>
          <br>
          <ion-input class="ion-text-center" [(ngModel)]="nuevoUser.nombre" label="Nombre" label-placement="floating" fill="outline" type="text"></ion-input>
          <br>
          <ion-input class="ion-text-center" [(ngModel)]="nuevoUser.apellido" label="Apellido" label-placement="floating" fill="outline" type="text"></ion-input>
          <br>
          <ion-input class="ion-text-center" [(ngModel)]="nuevoUser.correo" label="E-mail" label-placement="floating" fill="outline" type="email"></ion-input>
        </div>
        <div id="col12">
          <ion-input class="ion-text-center" [(ngModel)]="nuevoUser.direccion" label="Direccion" label-placement="floating" fill="outline" type="text"></ion-input>
          <br>
          <ion-select aria-label="Fruit" label="Departamento" placeholder="Departamento" [(ngModel)]="nuevoUser.idDepartamento" (ionChange)="DepartamentoChange($event)">
            <ion-select-option *ngFor="let departamento of departamentos" [value]="departamento.idDepartamento" >{{departamento.departamento}}</ion-select-option>
          </ion-select>
          <br>
          <ion-select aria-label="Fruit" placeholder="Municipio" label="Municipio" [(ngModel)]="nuevoUser.idmunicipio">
            <ion-select-option *ngFor="let municipio of municipios" [value]="municipio.idMunicipio" >{{municipio.municipio}}</ion-select-option>
          </ion-select>
          <br>
          <ion-select aria-label="Fruit" placeholder="Tipo de usuario" label="Tipo de usuario" [(ngModel)]="nuevoUser.idTipo">
            <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.idTipo" >{{usuario.tipo}}</ion-select-option>
          </ion-select>
          <br>
          <ion-select aria-label="Fruit" label="Genero" placeholder="Genero" [(ngModel)]="nuevoUser.genero" placeholder="Genero">
            <ion-select-option value="1">Hombre</ion-select-option>
            <ion-select-option value="2">Mujer</ion-select-option>
          </ion-select>
        </div>
        <ion-button class="boton">Modificar Datos(P)</ion-button>
      </div>
      <br>
      <div id="col2">
        <ion-item>
          <ion-label position="stacked">Contraseña Actual</ion-label>
          <ion-input type="{{mostrar1 ? 'text' : 'password'}}" [(ngModel)]="oldPass"></ion-input>
          <ion-button slot="end" fill="clear" (click)="togglePassVisibility()">
            <ion-icon [name]="mostrar1 ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña Nueva</ion-label>
          <ion-input type="{{mostrar1 ? 'text' : 'password'}}" [(ngModel)]="nuevoUser.passwo"></ion-input>
          <ion-button slot="end" fill="clear" (click)="togglePassVisibility1()">
            <ion-icon [name]="mostrar1 ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input type="{{mostrar1 ? 'text' : 'password'}}" [(ngModel)]="nuevoUser.confirmarPasswo"></ion-input>
          <ion-button slot="end" fill="clear" (click)="togglePassVisibility1()">
            <ion-icon [name]="mostrar1 ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-button class="boton">Cambiar Contraseña(P)</ion-button>
      </div>
      
      
    </div>
</ion-content>
