<ion-content [fullscreen]="true">
  <div id="pantalla">
    <br>
    <ion-select aria-label="Fruit" placeholder="Filtro">
      <ion-select-option value="Estudiante">Resuelto</ion-select-option>
      <ion-select-option value="Catedratico">No resuelto</ion-select-option>
    </ion-select>
    <br>
    <ion-button> Aplicar filtro </ion-button>
    <ion-grid>
      <div id="head">
        <ion-row id="filaMain">
          <ion-col ><b>CUI</b></ion-col>
          <ion-col ><b>Nombre</b></ion-col>
          <ion-col ><b>E-mail</b></ion-col>
          <ion-col ><b>Asunto</b></ion-col>
          <ion-col ><b>Descripcion</b></ion-col>
          <ion-col ><b>Estado</b></ion-col>
        </ion-row>
      </div>
      <div id="tabla">
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>No resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>No resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>No resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>No resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>Juan Perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col>Problema con la descarga del diploma</ion-col>
          <ion-col>El sistema no me deja descargar mi diploma, podrian mandarlo por e-mail?</ion-col>
          <ion-col>Resuelto</ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
