#pantalla{
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tabla{
    height: 300px;
    width: 90%;
}

.tab{
    width: calc(100% + 16px);
    height: 14rem;
    overflow-y: scroll;
}

.categoria{
    width: 7rem;
}

.select{
    width: 100%;
    height: 2rem;
}

.head{
    background-color: white;
    color: red;
    border: solid 1px gray;
    text-align: center;
}

.body{
    background-color: #221d45;
    color: white;
    border: solid 1px #fff;
    text-align: center;
}

#filaMain{
    width: 76%;
}

.Conferencia{
    width: 25%;
    margin-left: 20px;
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

ion-input{
    width: 10rem;
    color: black;
}

ion-select{
    width: 10rem;
    color: black;
    background-color: #fff;
}