<ion-content [fullscreen]="true">
  <div class="pantalla">
    <div class="filtros">
      <ion-datetime class="filt" presentation="year" [preferWheel]="true" (ionChange)="dateChanged($event)"></ion-datetime>
    
      <ion-select class="jornada" placeholder="Jornadas" [(ngModel)]="jornada" (ionChange)="jornadaChange($event)">
        <ion-select-option *ngFor="let jornada of jornadas" [value]="jornada.idJornada" >{{jornada.ciclo}}</ion-select-option>
      </ion-select>

      <ion-select class="categoria" placeholder="Categoria" [(ngModel)]="categoria" (ionChange)="categoriaChange($event)">
        <ion-select-option [value]="1" >Capacitaciones</ion-select-option>
        <ion-select-option [value]="2" >Diplomados</ion-select-option>
      </ion-select>

      <ion-select class="capacitacion" [(ngModel)]="idCapacitacion" placeholder="Capacitacion" (ionChange)="tipoChange($event)">
        <ion-select-option *ngFor="let capacitacion of capacitaciones" [value]="capacitacion.idCapacitacion">{{capacitacion.nomCapacitacion}}</ion-select-option>
      </ion-select>
      
      <ion-input class="Conferencia" label="Cargar Asistencias" labelPlacement="floating" fill="outline" type="file" accept=".csv" (change)="onFileChange($event)"></ion-input>
      
    </div>
    <div class="filtros2">
      <ion-button (click)="cargarArchivo()"> Cargar Datos </ion-button>
    </div>
    <div class="grid">
      <ion-grid>
        <ion-row>
          <ion-col class="head" size="2"><b>CUI</b></ion-col>
          <ion-col class="head" size="2"><b>Carne</b></ion-col>
          <ion-col class="head"><b>Nombre</b></ion-col>
          <ion-col class="head"><b>E-mail</b></ion-col>
          <ion-col class="headd" size="1" *ngIf="categoria == 2"><b>Nota</b></ion-col>
        </ion-row>
        <div id="tabla">
          <ion-row *ngFor="let dat of data">
            <ion-col class="body" size="2">{{dat['CUI']}}</ion-col>
            <ion-col class="body" size="2">{{dat['Carne']}}</ion-col>
            <ion-col class="body">{{dat['Nombre']}}</ion-col>
            <ion-col class="body">{{dat['Correo Electrónico']}}</ion-col>
            <ion-col class="bodyy" size="1" *ngIf="categoria == 2"><input class="Nota" type="number" [(ngModel)]="dat.nota" (input)="validar(dat.nota)"></ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
    <div class="filtros2">
      <ion-button (click)="MarcarAsistencias()" *ngIf="categoria == 1"> Marcar asistencias </ion-button>
      <ion-button (click)="SubirNotas()" *ngIf="categoria == 2"> Subir Notas </ion-button>
    </div>
  </div>
  
      
</ion-content>
