.pantalla{
    width: 100%;
    height: 100%;
    gap: 10px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtros2{
    width: 90%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtros{
    margin-top: 5px;
    width: 90%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid{
    height: 262px;
    width: 80%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tabla{
    width: calc(100% + 16px);
    height: 14rem;
    overflow-y: scroll;
}

.head{
    background-color: white;
    color: red;
    border: solid 1px red;
    text-align: center;
}

.body{
    background-color: #221d45;
    color: white;
    border: solid 1px #fff;
    text-align: center;
}

.headd{
    width: 10%;
    background-color: white;
    color: red;
    border: solid 1px red;
    text-align: center;
}

.bodyy{
    width: 10%;
    height: 2rem;
    background-color: #221d45;
    color: white;
    border: solid 1px #fff;
    text-align: center;
}

.Nota{
    margin-top: -2px;
    height: 1.5rem;
    width: 50px;
    color: black;
}

#filaMain{
    width: 65.9rem;
}

#head{
    width: 77.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jornada{
    width: 20rem;
    height: 3rem;
    border: 2px solid red;
    background-color: white;
}

.categoria{
    width: 12rem;
    height: 3rem;
    border: 2px solid red;
    background-color: white;
}

.capacitacion{
    width: 20rem;
    height: 3rem;
    border: 2px solid red;
    background-color: white;
}

.filt{
    border: 2px solid red;
    height: 8rem;
}

.Conferencia{
    width: 25%;
    margin-left: 20px;
}

ion-button{
    margin-left: 20px;
}