<ion-content [fullscreen]="true">
  <div id="pantalla">
    <br>
    <ion-input class="Conferencia" label="Cargar Diplomas de conferencias" labelPlacement="floating" fill="outline" type="file"></ion-input>
    <input class="Conferencia" type="file" id="file" accept=".csv"
        (change)="onFileChange($event)">
    <br>
    <ion-button (click)="cargarArchivo()"> Cargar Datos </ion-button>
    <ion-grid>
      <div id="head">
        <ion-row id="filaMain">
          <ion-col ><b>CUI</b></ion-col>
          <ion-col ><b>Carne</b></ion-col>
          <ion-col ><b>Nombre</b></ion-col>
          <ion-col ><b>E-mail</b></ion-col>
          <ion-col ><b>Diploma</b></ion-col>
        </ion-row>
      </div>
      <div id="tabla">
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>xxxx5515xxxx</ion-col>
          <ion-col>20xx05015</ion-col>
          <ion-col>Daniel perez</ion-col>
          <ion-col>DanPer@email.com</ion-col>
          <ion-col><ion-button>Descargar diploma</ion-button></ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
